<launch>
  <arg name="n_images"   default="30"/>
  <arg name="resolution_x"   default="2080"/>
  <arg name="resolution_y"   default="1552"/>
  <arg name="scaling"   default="0.5"/>
  <arg name="image_path"   default="$(env HOME)/Desktop/camera_calibration/"/>
  <arg name="image_ext"   default=".png"/>

  <node pkg="hri_planner" type="intrinsic_calibration.py" name="camera_calibration" output="screen">
  	<param name="n_images" value="$(arg n_images)"/>
	<param name="resolution_x" value="$(arg resolution_x)"/>
	<param name="resolution_y" value="$(arg resolution_y)"/>
	<param name="scaling" value="$(arg scaling)"/>
	<param name="image_path" value="$(arg image_path)"/>
	<param name="image_ext" value="$(arg image_ext)"/>
  </node>
</launch>
