<launch>
  <arg name="camera"      default="camera"/>

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>

  <node pkg="mediax_project" type="tracker_calibration" name="tracker_calibration" output="screen">
	  <param name="camera_info_file" value="$(find mediax_project)/camera_calibration/kinect_rgb.yml"/>
	  <param name="map_file" value="$(find mediax_project)/maps/marker_maps/exp_test.json"/>
	  <param name="filter_param_file" value="$(find mediax_project)/params/inside_out_tracker.json"/>
	  <param name="marker_size" value="0.204"/>
	  <param name="num_frames_skip" value="2"/>
	  <param name="image_scale" value="1.0"/>
	  <param name="draw_markers" value="true"/>
	  <param name="num_sample_calibration" value="1000"/>
	  <remap from="/inside_out_tracker/image" to="/$(arg camera)/rgb/image_mono"/>
  </node>
</launch>
