<launch>
  <node pkg="hri_planner" type="exp_control" name="exp_control" output="screen">
  	<param name="dir_loading_pre_set" value="$(find hri_planner)/protocols"/>
	<param name="dir_saving_pre_set" value="$(env HOME)/Desktop"/>
	<param name="use_odom_as_pose" value="true"/>
	<remap from="/robot_odom" to="/odom"/>
  </node>
</launch>
